---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Инструкции] Публикация и анализ результатов теста? | Документы Майкрософт'
author: rick-anderson
description: Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. Это видео содержит инструкции о том, как publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833080"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="3c79a-105">[Инструкции] Публикация и анализ результатов теста?</span><span class="sxs-lookup"><span data-stu-id="3c79a-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="3c79a-106">по [Криса Менегэй](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="3c79a-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="3c79a-107">Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта.</span><span class="sxs-lookup"><span data-stu-id="3c79a-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="3c79a-108">Это видео содержит инструкции о том, как опубликовать результаты теста в базе данных проекта Team Foundation Server и связать результаты с номером сборки.</span><span class="sxs-lookup"><span data-stu-id="3c79a-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="3c79a-109">Мы видим, после публикации результатов мы можно использовать диспетчер отчетов для его графическое представление об изменениях в наши результаты тестирования для сборки.</span><span class="sxs-lookup"><span data-stu-id="3c79a-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="3c79a-110">&#9654;Просмотрите видео (7 минут)</span><span class="sxs-lookup"><span data-stu-id="3c79a-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="3c79a-111">[Назад](how-do-i-use-generic-tests.md)
> [Вперед](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="3c79a-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
