---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Инструкции:] Публикация и анализ результатов теста? | Документы Майкрософт'
author: rick-anderson
description: Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. В этом видео приведены инструкции о том, как publ....
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 04/06/2018
ms.locfileid: "30894900"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="45693-105">[Инструкции:] Публикация и анализ результатов теста?</span><span class="sxs-lookup"><span data-stu-id="45693-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="45693-106">по [Криса Менегэй](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="45693-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="45693-107">Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта.</span><span class="sxs-lookup"><span data-stu-id="45693-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="45693-108">В этом видео приведены инструкции о том, как опубликовать результаты тестов в базе данных проекта Team Foundation Server и свяжите результаты с номером сборки.</span><span class="sxs-lookup"><span data-stu-id="45693-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="45693-109">Мы видим, что после публикации результатов просматривать графическое представление изменения в наши тестовые результаты сборки можно использовать диспетчер отчетов.</span><span class="sxs-lookup"><span data-stu-id="45693-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="45693-110">&#9654;Посмотрите видео (7 минут)</span><span class="sxs-lookup"><span data-stu-id="45693-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="45693-111">[Назад](how-do-i-use-generic-tests.md)
> [Вперед](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="45693-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
