---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[Инструкции:] Публикация и анализ результатов теста? | Документы Майкрософт"
author: rick-anderson
description: "Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. В этом видео приведены инструкции о том, как publ...."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: 3f9d94e2fbbb53679b5af1d2f2a4abe1866f9e58
ms.sourcegitcommit: 9a9483aceb34591c97451997036a9120c3fe2baf
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 11/10/2017
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Инструкции:] Публикация и анализ результатов теста?
====================
по [Криса Менегэй](https://twitter.com/CMenegay)

Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. В этом видео приведены инструкции о том, как опубликовать результаты тестов в базе данных проекта Team Foundation Server и свяжите результаты с номером сборки. Мы видим, что после публикации результатов просматривать графическое представление изменения в наши тестовые результаты сборки можно использовать диспетчер отчетов.

[&#9654; Посмотрите видео (7 минут)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[Назад](how-do-i-use-generic-tests.md)
[Вперед](how-do-i-discover-application-changes-prior-to-deployment.md)
