---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[Инструкции] Публикация и анализ результатов теста? | Документы Майкрософт'
author: rick-anderson
description: Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. Это видео содержит инструкции о том, как publ....
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: ru-RU
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833080"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[Инструкции] Публикация и анализ результатов теста?
====================
по [Криса Менегэй](https://twitter.com/CMenegay)

Visual Studio Team System позволяет диаграммы изменяется в качества проекта кода по мере продвижения проекта. Это видео содержит инструкции о том, как опубликовать результаты теста в базе данных проекта Team Foundation Server и связать результаты с номером сборки. Мы видим, после публикации результатов мы можно использовать диспетчер отчетов для его графическое представление об изменениях в наши результаты тестирования для сборки.

[&#9654;Просмотрите видео (7 минут)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [Назад](how-do-i-use-generic-tests.md)
> [Вперед](how-do-i-discover-application-changes-prior-to-deployment.md)
